{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

  <h1>Upload new File</h1>

  <form method="POST" enctype="multipart/form-data" action="{{ url_for('upload_file') }}">
    <p><input type="file" name="file1"></p>
    <p><input type="file" name="file2"></p>     
      <input type="submit" value=Upload>

    </form>


   <h1>Result:</h1>
  
   {% if filename1 %}
      <form method="POST" enctype="multipart/form-data" action="{{ url_for('get_headers') }}">

      {% for field in form %}
        {{ field }}
      {% endfor %}
      
        <table> 
          <tr>
            <td>
              <p> Uploaded File 1 is: <b> {{ filename1 }} </b></p>
            </td>
            <td>
              <p> Uploaded File 2 is: <b> {{ filename2 }} </b></p>
            </td>
          </tr>
          <tr>
            <td>
              <p> Column Names: </p>
            </td>
            <td>
              <p> Column Names: </p>
            </td>
          </tr>
          <tr>
            <td>
                <ul>
                  {% for header in headers1 %}
                    <li> 
                      <input type="checkbox" id={{ header }} value={{ header }} name="file1" >
                      <input type="radio" id={{ header }} value={{ header }} name="fkey1" >
                      <label for= {{ header }}>{{ header }}</label>
                    </li>
                  {% endfor %}
                </ul>
            </td>
            <td>
              <ul>
                {% for header in headers2 %}
                  <li> 
                    <input type="checkbox" id={{ header }} value={{ header }} name='file2'>
                    <input type="radio" id={{ header }} value={{ header }} name="fkey2" >
                    <label for={{ header }}>{{ header }}</label>
                  </li>
                {% endfor %}
              </ul>
            </td>  
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="no_zero" value"no_zero" name="no_zero">
              <label for="no_zero"> Would you like to exclude $0 values? </label> 
            </td>
          </tr>    
        </table>
        <input type="submit" value=Submit>
      </form>
   {% elif msg %}
     <p> msg = msg </p>
   {% endif %}

{% endblock %}
